#######################################
# SERVICES
#######################################
define service {
	check_command				check_OS_api!-u /v3 -p 5000
        host_name               OpenStack
        normal_check_interval   5
        service_description     Public Identity API Endpoint
        use                     generic-service
        }
#
define service {
        check_command           check_OS_api!-p 8041
        host_name               OpenStack
        normal_check_interval   5
        service_description     Public Metric API Endpoint
        use                     generic-service
        }
#
define service {
        check_command           check_OS_api!-p 9001
        host_name               OpenStack
        normal_check_interval   5
        service_description     Public DNS API Endpoint
        use                     generic-service
        }
#
define service {
        check_command           check_OS_api!-p 9292
        host_name               OpenStack
        normal_check_interval   5
        service_description     Public Image API Endpoint
        use                     generic-service
        }
#
define service {
        check_command           check_OS_api!-p 9696
        host_name               OpenStack
        normal_check_interval   5
        service_description     Public Network API Endpoint
        use                     generic-service
        }
#
define service {
        check_command   		OS_server-list
        host_name       		OpenStack
        name            		OS_server-list
        normal_check_interval   5
        service_description     Number of instances
        use             		generic-service
        }
#
define service {
        check_command           OS_floating-ip-list
        host_name               OpenStack
        name                    OS_floating-ip-list
        normal_check_interval   5
        service_description     Number of floating IPs
        use                     generic-service
        }
#
define service {
        check_command           OS_hypervisor-stats-vcpu
        host_name               OpenStack
        name                    OS_hypervisor-stats-vcpu
        normal_check_interval   5
        service_description     Pct. vCPU consumed 
        use                     generic-service
        }
#
define service {
        check_command           OS_hypervisor-stats-memory
        host_name               OpenStack
        name                    OS_hypervisor-stats-memory
        normal_check_interval   5
        service_description     Pct. memory consumed
        use                     generic-service
        }
#
define service {
        check_command           OS_hypervisor-stats-local_disk
        host_name               OpenStack
        name                    OS_hypervisor-stats-local_disk
        normal_check_interval   5
        service_description     Pct. local disk consumed
        use                     generic-service
        }
#
define service {
        check_command           OS_keystone-api-v3
        host_name               OpenStack
        name                    OS_keystone-api-v3
        normal_check_interval   5
        service_description     Keystone API token generation check
        use                     generic-service
        }
#